<div class="shadow-lg p-2 w-full md:w-full">
    

    <div class="m-2 p-4 rounded-md bg-slate-200">
        <h4> John Doe</h4>
        <p class="text-red-500 text-sm"> LAST UPDATED - SEP 20, 2021</p>

        <div class="m-2 body-text text-sm">
            'I'm always happy with new developments,' he commented. Stuart commented that this was very true. He made his comments at a news conference in Amsterdam. I was wondering whether you had any comments about that?
        </div>

        <div class="flex space-x-4 text-blue-500 text-sm">
            <a href=""> Reply</a>
            <a href="">View Reply</a>
        </div>
    
    </div>



    
</div>